body {
    padding-top: 5.5rem;
    background: linear-gradient(to top, #10002b ,#3c096c, #7b2cbf);

}

.contenedor-oscuro {
    background-color: rgba(0, 0, 0, .4);
}

.encabezado {
    background-color: rgba(0, 0, 0, .8);
}

.nav-item .nav-link {
    color: #888 !important;
    border-radius: .8rem;
    display: block;
    padding: 0.5rem 1rem !important;
    margin-right: 0.5rem;
    transition: color .3s ease-in-out,background-color .3s ease-in-out;
}

.btn-buscar {
    color: #888 !important;
    border-radius: .8rem;
    transition: color .3s ease-in-out,background-color .3s ease-in-out !important;
}

.nav-item .nav-link:hover, .btn-buscar:hover {
    color: #fff !important;
    background-color: rgba(255, 255, 255, .1);
}

.form-control {
    background-color: rgba(255, 255, 255, .5);
    color: #333;
    border-radius: .8rem;
    border: none;
}

.form-control::placeholder {
    color: #333;
}

.form-control:focus {
    background-color: rgba(255, 255, 255, .8);
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%28255, 255, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.btn-formulario {
    width: 100%;
    background-color: rgba(255, 255, 255, .8);
    font-weight: 600;
    letter-spacing: 0.1rem;
    border-radius: .8rem;
    transition: color .3s ease-in-out,background-color .3s ease-in-out !important;
}

.btn-formulario:hover {
    color: #fff !important;
    background-color: rgba(0, 0, 0, .4);
}

.btn-formulario:active {
    outline: 3px solid #7b2cbf !important;
}

.card {
    height: 100%;
    cursor: pointer;
    border: none;
    transition: background-color .5s;
}

.card img {
    height: 100%;
    transition: filter .5s;
}

.imagen {
    height: 100%;
    position: relative;
}

.card-img-overlay {
    top: auto;
    opacity: 0;
    transition: .5s;
}

.card-img-overlay {
    font-size: 0.8rem;
    color: #fff;
}

.card-link {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.card:hover .card-img-overlay {
    opacity: 1;
}

.card:hover img {
    filter: brightness(0.3);
}

.card:hover {
    background-color: rgba(0, 0, 0, .8);
}

#peliculas {
    padding: 0;
}

#publicidad img {
    width: 100%;
}

footer {
    padding: 4rem;
}

footer a {
    text-decoration: none;
    color: #888;
}

.columna {
    margin-left: 4rem;
}

.red-social-group {
    margin-top: 2rem;
}

.red-social-item {
    font-size: 1.8rem;
    margin-right: 1rem !important;
}

.list-item {
    line-height: 2;
}

footer a:hover {
    color: #fff;
}

footer p {
    color: #888;
    text-align: center;
}

hr {
    border-top: 1px solid #888;
    margin: 4rem 4rem 2rem;
}